body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

#content {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
}


.image-container {
    width: 90px; /* Ancho deseado del contenedor */
    height: 90px; /* Altura deseada del contenedor */
    border: 2px solid green; /* Borde inicial (verde) */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: borderAnimation 2s linear infinite paused; /* Inicia la animación en estado pausado */
    transition: border-color 0.3s; /* Agregar una transición suave para el cambio de color del borde */
  }
  
  #logo {
    max-width: 118%;
    max-height: 118%;
    padding: 8px;
  }
  
  .image-container:hover {
    border-color: red; /* Cambia el color del borde al pasar el mouse */
    animation-play-state: running; /* Reanuda la animación al pasar el mouse */
  }
  
  @keyframes borderAnimation {
    0% {
      border-color: green; /* Verde al inicio */
    }
    33% {
      border-color: yellow; /* Cambio a amarillo a un tercio de la animación */
    }
    66% {
      border-color: red; /* Cambio a rojo a dos tercios de la animación */
    }
    100% {
      border-color: green; /* Regresa a verde al final de la animación */
    }
  }

  /* Estilos para la imagen */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

#image {
  max-width: 100%;
  max-height: 100%;
}
      